@use "../../../../public/styles/lib/functions" as *;

.Body {
  z-index: 2;
  -webkit-box-shadow:  0 rem(16) rem(81) rem(139) hsl(0deg 0% 1%), rem(0) rem(-100) rem(53) rem(-34) hsl(0deg 0% 1%) inset;
  -moz-box-shadow:  0 rem(16) rem(81) rem(139) hsl(0deg 0% 1%), rem(0) rem(-100) rem(53) rem(-34) hsl(0deg 0% 1%) inset;
  box-shadow:  0 rem(16) rem(81) rem(139) hsl(0deg 0% 1%), rem(0) rem(-100) rem(53) rem(-34) hsl(0deg 0% 1%) inset;
  background: linear-gradient(to bottom,
    hsl(0 0% 1% / 100%) 0%,
    hsl(0 0% 1% / 90%) 100%,
  ),
  url("../../../../public/resources/images/cosmo/stars.webp") no-repeat center / cover fixed;
}
