@use '../../../../../../public/styles/lib/functions' as *;
@use "../../../../../../public/styles/lib/mixins" as *;

.MyProjects {
  @include flex($align-items: center, $justify: center);
  height: 50%;
  width: 100%;

  @include media-768 {
    @include flex($direction: column);
    margin-top: rem(20);
  }

  &-Mesh {
    @include flex($justify: center);
    width: 100%;
    height: rem(200);
  }

  &-Title {
    display: none;

    @include media-768 {
      display: flex;
      width: 100%;
    }
  }

  &-Icon {
    height: rem(80);
    width: rem(70);
    flex-shrink: 0;
    z-index: 3;
    filter: brightness(0.7);
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      filter: drop-shadow(0px 0px 5px #00bff3);
      transition: 0.3s;
    }
  }
}
