@use "./public/styles/lib/functions" as *;
@use "./public/styles/lib/mixins" as *;
@import "../../../../../cosmo/style.module";


.VideoContent {
  width: 100%;
  display: flex;
  @include media-1024{
    flex-direction: column-reverse;
  }

  &-Main {
    flex: 9;
  }

  &-Rating {
    height: 100%;
    background: var(--Color-Light--5);
    margin-left: wSize(5, 5, 10);
    padding: wSize(1, 1, 10);
    flex: 2;
  }

  &-Header {
    @include flex($align-items: center);
    width: 100%;
  }

  &-Title {
    color: $colorBase;
  }

  &-Body {
    @include flex(wrap);
    position: relative;
    margin-top: rem(50);
  }

  &-Video {
    flex: 1 1 auto;
    background: var(--Color-RedRose--50);
    color: var(--Color-Light--100);
    text-align: center;
  }

  &-Tabs {
    flex: 1 1 90%;
  }

  &-Tab {
    @include text(wSize(10, 1.5, 20), true);
    color: var(--Color-RedRose--50) !important;
  }

  &-ContentVideo {
    width: 100%;
    flex: 1 1 25%;
    height: hSize(150, 30, 300);
    margin: remSize(1, 10, 15);
    border: 0;
    @include media-360 {
      margin: 0;
    }
  }


  &-Modal {
    @include wh(80vw, wSize(100, 70, 800));
  }
}
