@use "./public/styles/lib/functions" as *;
@use "./public/styles/lib/mixins" as *;
@import "../../../../../cosmo/style.module";


.Filters {
  position: absolute;
  text-align: center;
  left: rem(-100);
  top: 0;

  @include media-1024 {
    width: 100%;
    position: relative;
    left: auto;
    top: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }


  &-Title {
    color: $colorBase !important;
    margin-bottom: rem(20);
  }

  &-Item {
    @include flex($align-items: center);
    width: 100%;
    margin-bottom: rem(20);
    @include media-1024 {
      width: auto;
    }
  }

  &-Icon {
    fill: var(--Color-RedRose--50);
  }

  &-ButtonsBox {
    @include flex($align-items: center, $direction: column);
    margin-left: rem(5);
    width: 100%;
  }

  &-Button {
    fill: var(--Color-RedRose--50);
  }
}
